.caseStudyDiv {}

.caseStudyDiv h2 {
	color: #FFFFFF;
	padding-left: 80px;
}

.caseStudyDiv h3 {
	padding-left: 80px;
	padding-right: 80px;
}

.caseStudyDiv p {
	padding-left: 80px;
	padding-right: 80px;
}

.caseStudyDiv li {
	padding-left: 10px;
	font-family: latoLight;
	font-size: 20px;
	line-height: 32px;
	color: #FFFFFF;
}

.overviewGridContainer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 775px;
}

.overviewHeader {
	font-family: latoRegular;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
	text-align: left;
}

.overviewBody {
	font-family: latoThin;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 40px;
	vertical-align: top;
}

.approachOverviewTitle {
	font-family: latoSemiBold;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	padding-top: 100px;
	padding-left: 10px;
}

.approachOverviewBody {
	font-family: latoLight;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.nextCaseWithinGrid {
	display: grid;
	grid-template-columns: 400px auto 475px;
	grid-template-rows: 80px 50px auto;
}

.nextCaseTitle {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	font-family: LatoSemiBold;
	font-size: 36px;
	color: #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
	align-content: bottom;
}

.nextCaseTags {
	grid-column: 1 / 4;
	grid-row: 2 / 3;	
	font-family: LatoLight;
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
}